In [1]:
import pandas as pd

In [2]:
d = {'vals': [40, 20, 30, 50, 10], 'letters': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data = d)
df

   vals letters
0    40       a
1    20       b
2    30       c
3    50       d
4    10       e

In [3]:
vals = pd.Series(df['vals'])
letters = pd.Series(df['letters'])

In [4]:
vals.sort_values(inplace=True)
vals

4    10
1    20
2    30
0    40
3    50
Name: vals, dtype: int64

In [5]:
letters[vals.index]

4    e
1    b
2    c
0    a
3    d
Name: letters, dtype: object

In [7]:
df.loc[df['vals'] == 40, ['vals', 'letters']]

   vals letters
0    40       a