In [4]:
import numpy as np
import pandas as pd

data = [('Afghanistan', 'Asia'      , 652230  , 25500100   , 20343000000  ),
('Albania'     , 'Europe'    , 28748   , 2831741    , 12960000000 ) ,
('Algeria'     , 'Africa'    , 2381741 , 37100000   , 188681000000) ,
('Andorra'     , 'Europe'    , 468     , 78115      , 3712000000  ) ,
('Angola'     , 'Africa'    , 1246700 , 20609294   , 100990000000)]

world = pd.DataFrame.from_records(data, columns = ['name', 'continent', 'area', 'population', 'gdp'])

In [5]:
world.head()

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [12]:
pop_limit = world['population'] > 25000000
area_limit = world['area'] >= 3000000
test = world[pop_limit & area_limit]

In [16]:
test.drop(columns=['gdp','continent'])

          name     area  population
0  Afghanistan  3000000    25500100
2      Algeria  3000000    37100000